/* // extra-large screens */
@media screen and (min-width: 1201px) {
  main section {
    padding: 0 5em 0 5em;
  }
  main section .section-text {
    width: 40em;
    max-width: 55em;
  }
}

/* // x-large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  main section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 3em;
  }
  main section .section-text {
    min-width: 35em;
    max-width: 45em;
    margin-right: 2em;
  }
}

/* // large screens */
@media screen and (min-width: 769px) and (max-width: 1024pc) {
  main section {
    padding-left: 4em;
    padding-right: 4em;
  }
  main section .section-text {
    font-size: 1.4em;
    min-width: 28em;
    max-width: 40em;
    margin-right: 2em;
  }
}

/* medium screens - tablet area */
@media screen and (min-width: 481px) and (max-width: 768px) {
  main section .emotionTitle {
    font-size: 4.5em;
    /* position: absolute;
    left: 0.5em;
    top: 0.7em; */
    margin-top: 0.5;
  }
  main section .section-text {
    font-size: 1.5em;
    top: 4em !important;
    left: unset !important;
    margin: 1em;
  }

  /* !!!!these commented areas are for solving responsiveness for animation */
  /* main #Sadness .centered-candles  {
    max-width: 300px;
  } */

  /* .centered-candles {
    width: 300px;
    background-color: rgb(177, 135, 59) !important;
  } */

/* remove 2 candles so they fit */
  /* main #Sadness div:nth-child(4), main #Sadness div:nth-child(5) {
    display: none;
  } */
}

/* small screens - phone area */
@media screen and (min-width: 320px) and (max-width: 480px) {
  main section .emotionTitle {
    font-size: 2.8em;
  }
  #Welcome h1  {
    font-size: 5em !important;
  }

  main section .section-text {
    font-size: 1.2em;
    width: unset;
    top: 4em !important;
    left: unset !important;
    margin: 1em;
  }
}


/*  * consider media queries for safari seperately
//  * add wax drip
//  * add wax drip animation */