svg {
  position: absolute;
  top: 250px;
}

.bg-sad {
  background-color: rgb(59, 55, 55);
  transition: background 2s 0.5s ;
}

#candle-1 {
  animation: candleMelt 1.3s ease infinite;
}

@keyframes candleMelt{
  from {
    transform: translateY(0px);
    background-color: cornsilk;
  }
  to {
    transform: translateY(120px);
    background-color: darkgoldenrod;
  }
}