* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: all 0.5s ease;
}

main section { 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section h3 {
  font-size: 3em;
}

.intro {
  background-color: cornflowerblue;
}