* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main section { 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section h3 {
  font-size: 3em;
}

main .intro {
  background-color: cornflowerblue;
}

main .Anger {
  background-color: rgb(209, 85, 47);
}

main .Enjoyment {
  background-color: rgb(230, 210, 99);
}

main .Fear {
  background-color: rgb(112, 122, 139);
}