

.js-color-stop {
  height: 50vh;
}

p{
  color: black;
}

#desired_element { z-index: 99 !important; }

.main-bg-element {
  position: fixed;
  top: 0px;
  min-height: 100%;
  height: 100vh;
  left: 0px;
  right: 0px;
  }