// GLOBAL VARIABLES
  // meant for all h1, h2, h3 tags
$headlineSize: 6em


* 
  margin: 0
  padding: 0
  box-sizing: border-box

html 
  // otherwise scroll snap didn't work on browsers beside safari
  scroll-snap-type: y mandatory

body 
  transition: all 0.5s ease
  background-color: cornflowerblue
  overflow-y: scroll
  scroll-behavior: smooth


  // MIXINS
  @mixin forFontToChange($emotionFontFamily)
    font-family: $emotionFontFamily
    font-size: $headlineSize +2em
    cursor: default



  // ANGER
  @font-face 
    font-family: Aarcover
    src: url("./fonts/AarcoverRegular-ZV9l.ttf")
    font-style: normal
  
  // FEAR
  @font-face 
    font-family: Tupo Vyaz
    src: url("./fonts/Tupo-Vyaz/Tupo-Vyaz_Thin.ttf")
    font-style: thin
    
  // SADNESS
  @font-face 
    font-family: Rof Top Simple
    src: url("./fonts/RofTopSimpleRegular-r4M7.ttf")
    font-style: normal

  h1, h2, h3 
    // font-family: Rof Top Simple
    font-family: 'Hind', sans-serif
    font-weight: 700
    font-size: $headlineSize

  main 
    height: 100%
    width: 100%

    section 
      height: 100vh
      width: 100vw
      display: flex
      justify-content: center
      align-items: center
      scroll-snap-align: start

      .angerFontToChange:hover
        @include forFontToChange(Aarcover)
        font-variant-caps: all-small-caps //w/o  this property font changes only for the first letter of each word
        // transition: all 1.5s ease

      .fearFontToChange:hover
        @include forFontToChange(Tupo Vyaz)

      .sadnessFontToChange:hover
        @include forFontToChange(Rof Top Simple)