* 
  margin: 0
  padding: 0
  box-sizing: border-box

html 
  // otherwise scroll snap didn't work on browsers beside safari
  scroll-snap-type: y mandatory

body 
  transition: all 0.5s ease
  background-color: cornflowerblue
  overflow-y: scroll
  scroll-behavior: smooth

  h1, h2, h3 
    font-family: 'Hind', sans-serif
    font-weight: 700
    font-size: 3.8em

  main 
    height: 100%
    width: 100%

    section 
      height: 100vh
      width: 100vw
      display: flex
      justify-content: center
      align-items: center
      scroll-snap-align: start

      .fontToChange:hover
        font-weight: 300

