* 
  margin: 0
  padding: 0
  box-sizing: border-box

html 
  // otherwise scroll snap didn't work on browsers beside safari
  scroll-snap-type: y mandatory

body 
  transition: all 0.5s ease
  background-color: cornflowerblue
  overflow-y: scroll
  scroll-behavior: smooth

  @font-face 
    font-family: Aarcover
    src: url("./fonts/AarcoverRegular-ZV9l.ttf")
    font-style: normal
    font-variant-caps: petite-caps;

  h1, h2, h3 
    font-family: Aarcover
    font-size: 6em
    // font-family: 'Hind', sans-serif
    // font-weight: 700

  main 
    height: 100%
    width: 100%

    section 
      height: 100vh
      width: 100vw
      display: flex
      justify-content: center
      align-items: center
      scroll-snap-align: start

      // .fontToChange:hover
        // font-weight: 300
        // font-family: 
        // font-family: NewAnger

